.gradle
build/

local.properties
gradle.properties

.idea/libraries/
.idea/modules/
.idea/misc.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml

*.iml

.settings/
bin/
.classpath
.project

.vscode/
